<div ng-controller="app.views.questions.index as vm">
    <div class="row" ng-repeat="question in vm.questions">
        <div class="vote-count col-sm-1">{{question.voteCount}}</div>
        <div class="answer-count col-sm-1">{{question.answerCount}}</div>
        <div class="view-count col-sm-1">{{question.viewCount}}</div>
        <div class="summary col-sm-9">
            <h3>{{question.title}}</h3>
            <div class="row">
                <span class="question-time">{{question.creationTime}}</span>
                <span class="question-creator">{{question.creatorUserName}}</span>
            </div>
        </div>
    </div>
</div>