<div ng-controller="app.views.questions.index as vm">
    <div class="command-list row">
        <div class="col-lg-12 text-right">
            <md-button ng-click="vm.showNewQuestionDialog()" class="md-raised md-primary"><i class="fa fa-asterisk"></i> New question</md-button>
        </div>
    </div>
    <div class="question-list">
        <div class="row question" ng-repeat="question in vm.questions">
            <div class="vote-count col-sm-1 hidden-xs">
                <div>{{question.voteCount}}</div>
                <div>votes</div>
            </div>
            <div class="answer-count col-sm-1 hidden-xs">
                <div>{{question.answerCount}}</div>
                <div>answers</div>
            </div>
            <div class="view-count col-sm-1 hidden-xs">
                <div>{{question.viewCount}}</div>
                <div>views</div>
            </div>
            <div class="summary col-xs-12 col-sm-9">
                <h3>{{question.title}}</h3>
                <div>
                    <span class="question-time">{{question.creationTime | fromNow}}</span>,
                    <span class="question-creator">{{question.creatorUserName}}</span>
                </div>
            </div>
        </div>
    </div>
</div>